
body {
	max-width: max-content;
}
#navbar {
	position: fixed;
	overflow: auto;
	white-space: nowrap;
	height: 100%;
	width: 25%;
	color: black;
	background: white;
	top: 0px;
	left: 0px;
	z-index: 999;
	border-bottom: 2px black solid;
}
#navbar header {
	text-align: center;
	border-bottom: 2px black solid;
}
.nav-link {
	display: block;
	color: gray;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	vertical-align: center;
	background-color: white;
	font-size: 14px;
	border: 1px black solid;
}
main {
	position: absolute;
	left: 27%;
	width: 73%;
}
@media screen and (max-width: 700px){
	#navbar {
		position: absolute;
		height: 25%;
		width: 100%;
	}
	main {
		top: 27%;
		left: 0;
		width: 100%;
	}
}
code {
	display: block;
	margin: 10px;
	padding: 5px;
	white-space: pre-line;
	background-color: #d6d6d6;
}
header {
	font-size: 24px;
	font-weight: bold;
	line-height: 3em;
}
